
@keyframes onloadanim {
    0%{
        transform-origin: center;
        transform:scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}


.post{
    display: flex;
    flex-direction: column;
    background-color:#721F00 ;
    color: white;
    padding: 20px;
    justify-content: center;
    border-radius: 30px;
    width: 70%;
    margin: 30px;
    animation: onloadanim 1s ease-in;
}

.post img{
    display: block;
    object-fit:contain;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.lower_post{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}


.lower_post button{
    border: solid 1px white;
    min-height: 40px;
    text-wrap:nowrap;
    border-radius: 10px;
    padding: 10px;
    font-size:20px;
    background: none;
    color: white;
    transition: 1s;
}

.lower_post button:hover{
    background-color:#FF4500;
    transition: 1s;
}

.likes_dislikes{
    width: 200px;
    display: flex;  
    justify-content: space-evenly;
}

.arrow_up{
    fill: #00C86B;
    stroke: #721F00;
    stroke-width: 1px;
    width: auto;
    height: 40px;
    margin: 0;
    transition: 1s;
}

.arrow_down{
    fill:#EF3535;
    stroke:#721F00;
    stroke-width: 1px;
    width: auto;
    height: 40px;
    margin: 0;
    transition: 1s;
}

#post_description{
    font-size:20px;
    min-width: 50%;
    max-width: 50%;
}

.comments{
    height: 30px;
    width: auto;
    fill: white;
}

.comments:hover{
    fill: black;
}


@media screen and (max-width:500px) {
    .post img{
        height: auto;
        object-fit: cover;
        border-radius: 20px;
    }
    .post{
        height: auto;
        margin-bottom: 20px;
        padding: 10px;
    }

    .likes_dislikes{
        width: 60px;
    }

    .lower_post{
        padding: 5px;
        align-items: center;
    }

    .lower_post p{
        font-size: 15px;
    }
    
}