
/* animations for certain elements*/

@keyframes onloadanim {
    0%{
        transform-origin: center;
        transform:scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}

#modal_comp{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 50px;
    width: 50%;
}

#go_back_button_modal{
    background-color: #721F00;
    color: white;
    padding: 30px;
    margin: 30px;
    width:max-content;
    border-radius: 30px;
    transition: 1s;
    font-size: 25px;
}

#go_back_button_modal:hover{
    background-color: #FF4500;
    transition: 1s;
}
.modal_post{
    display: flex;
    flex-direction: column;
    background-color:#721F00 ;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 30px;
    animation: onloadanim ease-in;
    animation-duration: 1.5s;
}

.modal_post img{
    display: block;
    object-fit:cover;
    height: auto;
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

#post_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#post_modal_description{
    font-size:25px;
    width: 70%;
}

#extra_post_text{
    width: 80%;
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 10px;
    height: 20vh;
    background-color: #862705;
    border-radius: 15px;
}

#extra_post_text::-webkit-scrollbar{
    width: 20px;
}

#extra_post_text::-webkit-scrollbar-thumb{
    background-color: #FF4500;
    border-radius: 5px;
}

.Commentlist{
    border-radius: 10px;
}

.Commentlist p{
    color: white;
    font-size:20px
}

#comments_array{
    height: 300px;
    overflow-y: scroll;
    background-color: #862705;
    border-radius: 10px;
}

#comments_array::-webkit-scrollbar{
    width: 10px;
}

#comments_array::-webkit-scrollbar-thumb{
    background-color: #FF4500;
    border-radius: 20px;
}

#comment_item{
    color:white
}

#votes_comments{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}


@media screen and (max-width:500px) {

    #modal_comp{
        width: 80%;
        position: absolute;
        left: 0px;
        top:50px;
    }

    .modal_post{
        padding: 15px;
        width:fit-content;
        border-radius: 0px;
    }

    .lower_post{
        padding: 5px;
        align-items: center;
        width: 100%;
    }

    .lower_post p{
        font-size: 15px;
        padding: 5px;
    }
    #post_modal_description{
    font-size:15px;
    width: 70%;
    }
    
    #extra_post_text{
    font-size: 15px;
    max-height: 30vh;
    width: 90%;
    }

    .Commentlist p{
    color: white;
    font-size:15px
    }

    #comments_array{
        height: 200px;
    }

    #votes_comments{
        margin:10px;
        width: 80%;
        height: 30px;
    }
    #go_back_button_modal{
        display: none;
    }

}