
/* animations for certain elements*/

@keyframes onloadanim {
    0%{
        transform-origin: center;
        transform:scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}


.modal_post{
    display: flex;
    flex-direction: row;
    background-color:#721F00 ;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 30px;
    animation: onloadanim ease-in;
    animation-duration: 1.5s;
}

.modal_post img{
    display: block;
    object-fit:contain;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.lower_post{
    display: flex;
    align-items: center;
    color: white;
}

.likes_dislikes{
    width: 100px;
    display: flex;
    justify-content: center;
}

.arrow_up{
    fill: none;
    stroke: #00C86B;
    stroke-width: 1px;
    width: auto;
    height: 40px;
    margin: 0;
}

.arrow_up:hover{
    fill: #00C86B;
    stroke: none;
}

.arrow_down{
    fill:none;
    stroke:#EF3535;
    stroke-width: 1px;
    width: auto;
    height: 40px;
    margin: 0;
}

.arrow_down:hover{
    fill: #EF3535;
    transition: 2s;
    stroke: none;
}

.comments{
    padding:5px;
    width: auto;
    fill: white;
    align-self: center;
}

.comments:hover{
    fill: black;
}


@media screen and (max-width:500px) {
    .post img{
        height: auto;
        object-fit: cover;
        border-radius: 20px;
    }
    .post{
        height: auto;
        margin-bottom: 20px;
        padding: 10px;
    }

    .likes_dislikes{
        width: 60px;
    }

    .lower_post{
        padding: 5px;
        align-items: center;
    }

    .lower_post p{
        font-size: 15px;
    }
    
}