
/* animations for certain elements*/

@keyframes onloadanim {
    0%{
        transform-origin: center;
        transform:scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}


.modal_post{
    display: flex;
    flex-direction: column;
    background-color:#721F00 ;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 30px;
    animation: onloadanim ease-in;
    animation-duration: 1.5s;
    width: 50%;
    margin-top: 50px;
    margin-right: 50px;
}

.modal_post img{
    display: block;
    object-fit:cover;
    height: auto;
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

#post_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#post_modal_description{
    font-size:25px;
    width: 70%;
}

#extra_post_text{
    width: 80%;
    font-size: 20px;
    max-height: 50vh;
    overflow-y: scroll;
    margin-bottom: 30px;
    padding: 15px;
}

::-webkit-scrollbar{
    width: 20px;
}

.Commentlist{
    border-radius: 10px;
}

#comment_item{
    color:white
}



@media screen and (max-width:500px) {

    .post{
        height: auto;
        margin-bottom: 20px;
        padding: 10px;
    }


    .lower_post{
        padding: 5px;
        align-items: center;
    }

    .lower_post p{
        font-size: 15px;
    }
    #post_modal_description{
    font-size:20px;
    width: 70%;
    }
    
    #extra_post_text{
    width: 80%;
    font-size: 15px;
    max-height: 30vh;
    }
}